.custom-modal-header {
  background-color: #212529;
  color: #adb5bd;
  border-bottom: solid rgba(128, 128, 128, 0.5);

}

.custom-modal {
  background-color: transparent;
  /* Change to the desired background color */
  /* opacity: 1; */
}
.custom-modal-body {
  background-color: #212529;
  /* Change to the desired background color */
  /* opacity: 1; */
}

.btn {
  border: none;
}

/* Add hover effect */
.btn:hover {
  background-color: #cf9c04;
  > svg {
      color: grey;
  }
}

.btn:focus {
  background-color: #cf9c04;
}

