.Post-solution {
  max-width: 60vw;
  border: 2px solid grey;
  padding: 1rem;
}

h3 {
  border-bottom: 2px solid grey;
}

h6, .Post-problem {
  border-bottom: 2px solid grey;
}



#problem-stack {
  align-items: baseline;
}