.Posts-post {
  position: relative;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Posts-post::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #808080;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(112, 112, 11);
}

.Posts-post-icon-left{
  color: grey;
  
}

.Posts-post-icon-right{
color: rgba(211, 211, 211);
/* padding-left: .5rem; */
}

.Posts-post-icon-right-selected{
color: rgba(211, 211, 211, 0);
}


.title-selected {
color: grey;
}