.Post-solution {
  max-width: 60vw;
  border-bottom: 2px solid grey;
  padding: 1rem;
  text-align: left;
}

h3 {
  border-bottom: 2px solid grey;
}

h6 {
  border-bottom: 2px solid grey;
  text-align: left;
}

#problem-stack {
  align-items: baseline;
}