.PostForm-control{
  /* height: 150px;
 */
 border: 1px solid grey;
 border-radius: 5px;
 opacity: .5;
}

.input {
  height: 150px;
}

.PostForm-controls {
  padding-top: .9rem;
}

/* changes text input box */
.PostForm-title {
  background-color: #8C7A45;
}

.PostForm-col{
  background-color: #212529;
}

/* changes title text box */
.PostForm-label {
  background-color: transparent;
}

/* this targets the desired area but the color is overwritten by the global color set in App.css... consider appying the color to indiivdual components.... */
.PostForm-form {
  background-color: red !important;
}

* {
  background-color: transparent;
}