.Posts-post {
  position: relative;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Posts-post::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #808080;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(112, 112, 11);
}

.Posts-post-icon{
  color: grey;
}

.underline {
  /* display: inline-block;
  border-bottom: 1px solid #000;
  text-decoration: none; */
  /* To remove default text underline */
}