.font-icon {
  padding-left: 10px;
  opacity: 0;
}

.Projects-project:hover .font-icon {
  opacity: 1;
  color: gray;
}

.Projects-container {
  min-height: 25vh;
}

.Projects-project{
  position: relative;
  border: none;
  border-bottom: 1px solid grey;
  /* border-radius: 0;
  border-radius: 10px 10px 0 0; */
  /* width: 100%; */
}

.selected {
  /* text-shadow: 2px 4px 4px rgba(3, 19, 49, 0.9); */
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  box-shadow: inset 0em -.4em lightgray;
}

