.font-icon {
  padding-left: 10px;
  opacity: 0;
}

.Projects-project:hover .font-icon {
  opacity: 1;
  color: gray;
}

.Projects-container {
  min-height: 25vh;
}

/* .Projects-project{
  border: none;
  border-bottom: 1px solid grey;

} */

/* corrects the curved affect of the bottom border due to margin-collapsing  */
.Projects-project {
  position: relative;
  border: none;
}

.Projects-project::after {
  content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #808080;
}

.selected {
  font-weight: 400;
  color: grey;
  box-shadow: inset 0em -.2em lightgray;
  border-bottom: 0px;
}

