.font-icon {
  padding-left: 10px;
  opacity: 0;
}

.Projects-project:hover .font-icon {
  opacity: 1;
  color: gray;
}

.Projects-container {
  min-height: 25vh;
}

/* corrects the curved affect of the bottom border due to margin-collapsing  */
.Projects-project {
  /* position: relative; */
  border: none;

}

.selected {
  /* border: none; */
  /* border-bottom: 1px solid grey; */
  color: darkgray;
  font-weight: 300;
}

.Projects-project::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #808080;
}

.selected::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 4px solid rgba(211, 211, 211, .9);
}