img {
  /* display: inline; */
  width: 8rem;
  height: 8rem;
}


.User-container {
  /* border-bottom: 1px solid grey; */
}

.User-post-details {
  border: 2px solid grey;
  padding: 1rem;
  height: 65vh;
}